/*NUESTROS ASESORES*/

.card {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 65px;
    margin-left: 20px;
  
    /* Ajusta el margen inferior de todas las tarjetas */
  }
  
  .card-body {
    background-color: #a1a0eb;
  
    /* Cambia el color de fondo*/
  
    p {
      font-size: 18px;
  
      /*tamaño de letra de todos los p*/
      display: flex;
      justify-content: center;
    }
  }