/*Media queries*/

@media screen and (max-width: 760px) {
    .contenedor {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
      grid-template-areas: "caja1" "caja2" "caja3" "caja4" "caja5" "caja6";
    }
  }
  
  @media screen and (max-width: 480px) {
    .contenedor {
      margin: 40px;
      height: 80vh;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
      grid-template-areas: "caja1" "caja2" "caja3" "caja4" "caja5" "caja6";
    }
  }