/*SERVICIOS*/

.card {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  
  .card-title {
    font-size: 26px;
  
    /* Tamaño de la fuente del título */
    text-align: center;
  
    /* Centrar el título */
  }
  
  .card-text {
    font-size: 16px;
  
    /* Tamaño de la fuente del texto */
    text-align: justify;
  
    /* Alinear descripción justificada */
  }
  
  .row {
    margin-bottom: 40px;
  }
  